@{
    ViewBag.Controller = "Sites";
    ViewBag.Action = "Listing";
}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-1">

                </div>
                <div class="col-md-4">
                    <table class="table table-bordered">
                        <tr>
                            <td><strong>Site 1</strong></td>
                            <td>No Issues</td>
                            <td>2 Tickets</td>
                            <td>4  Errors</td>
                        </tr>
                        <tr>
                            <td><strong>Site 2</strong></td>
                            <td>No Issues</td>
                            <td>2 Tickets</td>
                            <td>6 Errors</td>
                        </tr>
                        <tr>
                            <td><strong>Site 3</strong></td>
                            <td>1 Issues</td>
                            <td>34 Tickets</td>
                            <td>No Errors</td>
                        </tr>
                        <tr>
                            <td><strong>Site 4</strong></td>
                            <td>8 Issues</td>
                            <td>9 Tickets</td>
                            <td>5 Errors</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>