@{
    ViewBag.Controller = "Sites";
    ViewBag.Action = "Search";
}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-4">
                <label>Site:</label>
                <input class="form-control" />
                <hr />
                <button class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>
</div>