@{
    ViewBag.Controller = "Quotes";
    ViewBag.Action = "Received";
}
<div class="page-header">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><span class="font-weight-semibold">Limitless</span> - Form Plugins</h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-header" style="text-align:center; background-color:#26A69A; color:white">
                <h3>Open Quotes</h3>
            </div>
            <div class="card-body" style="padding-top:15px">
                <div style="text-align:center">
                    <h3 class="font-weight-semibold">32</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">

    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-header" style="text-align:center; background-color:#26A69A; color:white">
                <h3>Current Open Tasks</h3>
            </div>
            <div class="card-body" style="padding-top:15px">
                <div style="text-align:center">
                    <h3 class="font-weight-semibold">3</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="row" style="margin-top: 100px">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-header" style="text-align:center; background-color:red; color:white">
                <h3>Alerts</h3>
            </div>
            <div class="card-body" style="padding-top:15px">
                <div style="text-align:center">
                    <h3 class="font-weight-semibold">0</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">

    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-header" style="text-align:center; background-color:grey; color:white">
                <h3>??</h3>
            </div>
            <div class="card-body" style="padding-top:15px">
                <div style="text-align:center">
                    <h3 class="font-weight-semibold">0</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">

    </div>
</div>