@{
    ViewBag.Controller = "Home";
    ViewBag.Action = "Dashboard";
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-2">

            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-header" style="padding:10px; text-align:center; background-color:#26A69A; color:white">
                        <h5>Open Quotes</h5>
                    </div>
                    <div class="card-body" style="padding-top:15px">
                        <div style="text-align:center">
                            <h2 class="font-weight-semibold">32</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">

            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-header" style="padding:10px; text-align:center; background-color:#26A69A; color:white">
                        <h5>Current Open Tasks</h5>
                    </div>
                    <div class="card-body" style="padding-top:15px">
                        <div style="text-align:center">
                            <h2 class="font-weight-semibold">3</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">

            </div>
        </div>
        <div class="row" style="margin-top: 100px">
            <div class="col-lg-2">

            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-header" style="padding:10px; text-align:center; background-color:red; color:white">
                        <h5>Alerts</h5>
                    </div>
                    <div class="card-body" style="padding-top:15px">
                        <div style="text-align:center">
                            <h2 class="font-weight-semibold">0</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">

            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-header" style="padding:10px; text-align:center; background-color:grey; color:white">
                        <h5>??</h5>
                    </div>
                    <div class="card-body" style="padding-top:15px">
                        <div style="text-align:center">
                            <h2 class="font-weight-semibold">0</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">

            </div>
        </div>
    </div>
</div>
